.recipe {
  width: 80vw;
  text-align: center;
  text-decoration: none;

  h1 {
    font-size: 2em;
    color: red;
    margin: 7vh;
  }

  li {
    margin-left: 30vw;
    text-align: justify;
    list-style: square;
  }
  .ulprepa {
    margin: 5vh;
  }
  .prepa {
    margin-left: 0;
    list-style: none;
    text-align: justify;
    font-size: 1em;
    margin-top: 10px;
    width: 70vw;
  }
}
