@font-face {
  font-family: "Reindeer";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Reindeer Christmas - Personal Use.otf") format("opentype");
}

body {
  cursor: url("/reindeer_cursor (4).png"), auto !important;
  overflow: hidden;
}
